:root {
  --blue-color: rgb(0, 120, 255);
  --text-color: rgb(78, 78, 78);
  --input-border: #dee2e6;
}

body {
  font-family: system-ui -apple-system "Segoe UI" Roboto "Helvetica Neue" "Noto Sans"
    "Liberation Sans" Arial sans-serif "Apple Color Emoji" "Segoe UI Emoji" "Segoe UI Symbol"
    "Noto Color Emoji";
  text-transform: capitalize;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

/* Target NavBar Links */

body:not(body:has(:target)) a[href="#home"],
body:has(.home:target) a[href="#home"],
body:has(.about:target) a[href="#about"],
body:has(.services:target) a[href="#services"],
body:has(.portfolio:target) a[href="#portfolio"],
body:has(.blog:target) a[href="#blog"],
body:has(.contact-us:target) a[href="#contact-us"] {
  border-bottom: 2px solid #fff;
  width: 65%;
}

/* Back To Top */
.scroll-to-top {
  bottom: 30px;
  right: 30px;
}

.scroll-to-top:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Global */
:where(#services, .portfolio, .blog) .container h2 {
  font-size: 48px;
  line-height: 57.6px;
}

:where(#services, .portfolio, .blog) .container .desc p {
  font-size: 16px;
}

:where(#services, .portfolio, .blog) .container .desc p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: var(--blue-color);
}

.about .container .about-me h2,
footer .container .desc h2 {
  font-size: 32px;
  font-weight: 500;
  width: fit-content;
}

.about .container .about-me h2::after,
footer .container .desc h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 80%;
  border-bottom: 3px solid var(--blue-color);
}

/*
=================================================
                  Start Navbar
=================================================
*/

nav {
  background-color: rgba(0, 0, 0, 0.9);
}

nav .container h1 > a {
  font-size: 1.75rem;
  line-height: 2.1rem;
  letter-spacing: 0.0625rem;
}

nav div.collapse ul li > a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

nav div.collapse ul.dropdown-menu li > a {
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
  padding: 0.625rem 1.25rem;
}

nav .navbar .navbar-toggler {
  font-size: 1.5625rem;
}

nav .navbar .navbar-toggler:focus {
  box-shadow: none;
}

nav .container .navbar-collapse ul.navbar-nav li.nav-item {
  position: relative;
  padding: 0 2%;
}



nav .container .navbar-collapse ul.navbar-nav li.nav-item::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 0;
  bottom: 14%;
  left: 10%;
  transition: width 0.3s linear;
}

nav .container .navbar-collapse ul.navbar-nav li.nav-item:hover::after {
  width: 45%;
}

/* 
=================================================
                  End Navbar
=================================================
*/

/* 
=================================================
                Start Landing page
=================================================
*/

header {
  background-image: url(../images/landing.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

header .main-text :where(h2, p) {
  font-size: 4.5rem;
  line-height: 5.4rem;
  font-weight: 600;
}

.animated .typewriter {
  font-size: 2.5rem;
  line-height: 60px;
}
.animated .typewriter::before {
  content: "";
  border-right: 5px solid white;
  animation: blink 0.5s infinite, typing 15s infinite;
}

@keyframes blink {
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  0%,19.98%,38.85%,100%{
    content: "De";
  }
  1.11%,18.87%{
    content: "Dev";
  }
  2.22%,17.76%{
    content: "Deve";
  }
  3.33%,16.65%{
    content: "Devel";
  }
  4.44%,15.54%{
    content: "Develo";
  }
  5.55%,14.43%{
    content: "Develop";
  }
  6.66%,13.32%{
    content: "Develope";
  }
  7.77%,8.88%,9.99%,11.1%,12.21%{
    content: "Developer";
  }
  21.09%,37.74%{
    content: "Des";
  }
  22.2%,36.63%{
    content: "Desi";
  }
  23.31%,35.52%{
    content: "Desig";
  }
  24.42%,34.41%{
    content: "Design";
  }
  25.53%,33.3%{
    content: "Designe";
  }
  26.64%,28.86%,29.97%,31.08%,32.19%{
    content: "Designer";
  }
  39.96%{
    content: "D";
  }
  41.09%,67.71%,97.68%{
    content: "";
  }
  42.18%,66.6%{
    content: "F";
  }
  43.29%,65.49%{
    content: "Fr";
  }
  44.4%,64.38%{
    content: "Fre";
  }
  45.51%,63.27%{
    content: "Free";
  }
  46.62%,62.16%{
    content: "Freel";
  }
  47.73%,61.05%{
    content: "Freela";
  }
  48.84%,59.94%{
    content: "Freelan";
  }
  49.95%,58.83%{
    content: "Freelanc";
  }
  51.06%,57.72%{
    content: "Freelance";
  }
  52.17%,53.28%,54.39%,55.5%,56.61%{
    content: "Freelancer";
  }
  68.82%,96.57%{
    content: "P";
  }
  69.93%,95.46%{
    content: "Ph";
  }
  71.04%,94.35%{
    content: "Pho";
  }
  72.15%,93.24%{
    content: "Phot";
  }
  73.26%,92.13%{
    content: "Photo";
  }
  74.37%,91.02%{
    content: "Photog";
  }
  75.48%,89.91%{
    content: "Photogr";
  }
  76.59%,88.8%{
    content: "Photogra";
  }
  77.7%,87.69%{
    content: "Photograp";
  }
  78.81%,86.58%{
    content: "Photograph";
  }
  79.92%,85.47%{
    content: "Photographe";
  }
  81.03%,82.14%,83.25%,84.36%{
    content: "Photographer";
  }
  98.79%{
    content: "D";
  }
}

/* 
=================================================
                  End Landing page
=================================================
*/

/* 
=================================================
                  Start About
=================================================
*/
.about .container {
  padding: 6% 0;
}

.about .container .skills .prog h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.about .container .skills ul li {
  font-size: 1rem;
}

.about .container .skills ul li span {
  font-size: 1.1rem;
}

.about .container .about-me p {
  font-size: 20px;
  font-weight: 300;
}

/* 
=================================================
                  End About
=================================================
*/

/* 
=================================================
                Start Services
=================================================
*/

#services .service-card .icon {
  width: 100px;
  height: 100px;
  border: 10px solid var(--blue-color);
  transition: all 0.3s linear;
}

#services .service-card:hover .icon {
  color: #fff;
  border-color: #d1e0f7;
  background-color: var(--blue-color);
}

#services .service-card h4 {
  margin-bottom: 15px;
  font-size: 22.4px;
  font-weight: 500;
}
#services .service-card p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 24px;
}

/* 
=================================================
                End Services
=================================================
*/

/* 
=================================================
                Start Counter
=================================================
*/

#counter {
  background-image: url(../images/counters-bg.jpg);
  background-color: var(--blue-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

#counter .icon {
  border: 10px solid rgb(205, 225, 248);
  width: 90px;
  height: 90px;
}

#counter .stat span {
  font-size: 2rem;
  line-height: 48px;
}

#counter .stat h4 {
  font-size: 1rem;
  line-height: 24px;
}

/* 
=================================================
                End Counter
=================================================
*/

/* 
=================================================
                Start Portfolio
=================================================
*/

.portfolio-item .img-contain {
  overflow: hidden;
}

.portfolio-item img {
  transition: transform 0.3s linear;
}

.portfolio .portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item .details h5 {
  margin: 0 0 10px;
}
.portfolio-item .details a {
  color: #007bff;
  text-decoration: none;
}
.portfolio-item .details a:hover {
  text-decoration: underline;
}
.portfolio-item .details .date {
  color: #777;
}

.portfolio .txt-icon svg {
  color: var(--blue-color);
  font-size: 2.5rem;
}

/* 
=================================================
                End Portfolio
=================================================
*/

/* 
=================================================
                Start Slider
=================================================
*/

.slider {
  background-image: url(../images/overlay-bg.jpg);
  background-color: var(--blue-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 5%;
}

.slider .carousel-item {
  position: static;
  padding: 10% 0;
}

.slider .img-contain {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.slider h5 {
  font-size: 22.4px;
  line-height: 33.6px;
  font-weight: 600;
}

.slide p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.slider button[type="button"] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

/* 
=================================================
                End Slider
=================================================
*/
/* 
=================================================
                Start Blog
=================================================
*/

#blog .blog-card {
  border: 1px solid #ddd;
}

#blog .blog-card img {
  width: 100%;
  height: auto;
}

#blog .blog-card .category {
  bottom: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
}

#blog .category h6{
  font-size: .7rem;
}

#blog .blog-card .author img {
  width: 30px;
  height: 30px;
}

/* 
=================================================
                End Blog
=================================================
*/
/* 
=================================================
                Start Footer
=================================================
*/

footer {
  background-image: url(../images/overlay-bg.jpg);
  background-color: var(--blue-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

footer .container .desc h2::after {
  width: 15%;
}

footer :where(input, textarea) {
  border: 1px solid var(--input-border);
  transition: outline 0.1s linear;
}

footer textarea {
  resize: none;
}

/* footer input */
footer :where(input, textarea):focus {
  outline: 2px solid var(--blue-color);
}

footer .get-in-touch p {
  color: #4E4E4E;
}

footer .get-in-touch ul li {
  font-size: 16px;
  line-height: 32px;
  color: #4E4E4E;
}

footer .get-in-touch ul.location li svg {
  color: var(--blue-color);
}

footer .get-in-touch .social li{
  border: 3px solid var(--blue-color);
  width: 45px;
  height: 45px;
  transition: all 0.3s linear;
}

footer .get-in-touch .social li:hover{
  border-color:#cde1f8;
  background-color: var(--blue-color);
}

footer .get-in-touch .social li:hover svg{
  color: #fff;
  
}

footer .get-in-touch .social li svg{
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  color: #000;
}

/* 
=================================================
                End Footer
=================================================
*/
/* 
=================================================
              Start Main Footer
=================================================
*/

  .main-footer{
    background-color: #0062d3;
    font-size:17px;
  } 
  .main-footer .container p{
    margin-bottom: .7rem;
  }

/*
=================================================
              End Main Footer
=================================================
*/
