:root {
  --blue-color: rgb(0, 120, 255);
  --text-color: rgb(78, 78, 78);
}

body {
  font-family: system-ui -apple-system "Segoe UI" Roboto "Helvetica Neue" "Noto Sans"
    "Liberation Sans" Arial sans-serif "Apple Color Emoji" "Segoe UI Emoji" "Segoe UI Symbol"
    "Noto Color Emoji";
  text-transform: capitalize;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

/* Target NavBar Links */

body:not(body:has(:target)) a[href="#home"],
body:has(.home:target) a[href="#home"],
body:has(.about:target) a[href="#about"],
body:has(.services:target) a[href="#services"],
body:has(.portfolio:target) a[href="#portfolio"],
body:has(.blog:target) a[href="#blog"] {
  border-bottom: 2px solid #fff;
}

/* Back To Top */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.scroll-to-top:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Global */
:where(.service, .portfolio, .blog) .container h2 {
  font-size: 48px;
  line-height: 57.6px;
}

:where(.service, .portfolio, .blog) .container .desc {
  position: relative;
}

:where(.service, .portfolio, .blog) .container .desc p {
  font-size: 16px;
}

:where(.service, .portfolio, .blog) .container .desc p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: var(--blue-color);
}

/*
=================================================
                  Start Navbar
=================================================
*/

nav {
  background-color: rgba(0, 0, 0, 0.9);
}

nav input {
  display: none;
}

nav .container h1 > a {
  font-size: 1.75rem;
  line-height: 2.1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

nav div.collapse ul li > a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

nav div.collapse ul.dropdown-menu li > a {
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
  padding: 0.625rem 1.25rem;
}

nav .navbar .navbar-toggler {
  font-size: 1.5625rem;
}

nav .navbar .navbar-toggler:focus {
  box-shadow: none;
}

nav .container .navbar-collapse ul.navbar-nav li.nav-item {
  position: relative;
  padding: 0 2%;
}

nav .container .navbar-collapse ul.navbar-nav li.nav-item::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 0;
  bottom: 14%;
  left: 15%;
  transition: width 0.3s linear;
}

nav .container .navbar-collapse ul.navbar-nav li.nav-item:hover::after {
  width: 45%;
}

nav.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

/* 
=================================================
                  End Navbar
=================================================
*/

/* 
=================================================
                Start Landing page
=================================================
*/

header {
  background-image: url(../images/landing.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

header .main-text :where(h2, p) {
  font-size: 4.5rem;
  line-height: 5.4rem;
  font-weight: 600;
}

.animated .typewriter {
  font-size: 2.5rem;
  line-height: 60px;
}
.animated .typewriter::before {
  content: "";
  border-right: 7px solid white;
  animation: blink 0.9s infinite, typing 10s infinite;
}

@keyframes blink {
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  0%,
  54.54%,
  100% {
    content: "de";
  }
  3.03%,
  51.51% {
    content: "dev";
  }
  6.06%,
  48.48% {
    content: "deve";
  }
  9.09%,
  45.45% {
    content: "devel";
  }
  12.12%,
  42.42% {
    content: "develo";
  }
  15.15%,
  39.39% {
    content: "develop";
  }
  18.18%,
  36.36% {
    content: "develope";
  }
  21.21%,
  24.24%,
  27.27%,
  30.3% {
    content: "developer";
  }
  57.57%,
  96.96% {
    content: "des";
  }
  60.6%,
  93.93% {
    content: "desi";
  }
  63.63%,
  90.9% {
    content: "desig";
  }
  66.66%,
  87.87% {
    content: "design";
  }
  69.69%,
  84.84% {
    content: "designe";
  }
  72.72%,
  75.75%,
  78.78%,
  81% {
    content: "designer";
  }
}

/* 
=================================================
                  End Landing page
=================================================
*/

/* 
=================================================
                  Start About
=================================================
*/
.about .container {
  padding: 6% 0;
}

.about .container .skills ul li {
  font-size: 1rem;
  /* line-height: 34px; */
}

.about .container .skills ul li span {
  font-size: 1.1rem;
}

.about .container .skills .prog h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.about .container .about-me h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  width: fit-content;
}

.about .container .about-me h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 80%;
  border-bottom: 3px solid var(--blue-color);
}

.about .container .about-me p {
  font-size: 20px;
  font-weight: 300;
}

/* 
=================================================
                  End About
=================================================
*/

/* 
=================================================
                Start Services
=================================================
*/

#services .container h2 {
  font-size: 48px;
  line-height: 57.6px;
}

#services .container .desc {
  position: relative;
}

#services .container .desc p {
  font-size: 16px;
}

#services .container .desc p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: var(--blue-color);
}

#services .service-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#services .service-card .icon {
  width: 100px;
  height: 100px;
  font-size: 40px;
  color: #000;
  padding: 12%;
  margin: auto;
  border: 10px solid var(--blue-color);
  border-radius: 50%;
  transition: all 0.3s linear;
}

#services .service-card:hover .icon {
  color: #fff;
  border-color: #d1e0f7;
  background-color: var(--blue-color);
}

#services .service-card h4 {
  margin-bottom: 15px;
  font-size: 22.4px;
  font-weight: 500;
}
#services .service-card p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 24px;
}

/* 
=================================================
                End Services
=================================================
*/

/* 
=================================================
                Start Counter
=================================================
*/

#counter {
  background-image: url(../images/counters-bg.jpg);
  background-color: var(--blue-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

#counter .icon {
  font-size: 32px;
  margin: auto;
  border: 10px solid rgb(205, 225, 248);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#counter .stat span {
  font-size: 2rem;
  line-height: 48px;
}

#counter .stat h4 {
  font-size: 1rem;
  line-height: 24px;
}

/* 
=================================================
                End Counter
=================================================
*/

/* 
=================================================
                Start Portfolio
=================================================
*/

.portfolio-header {
  text-align: center;
  margin: 50px 0;
}
.portfolio-header h1 {
  font-size: 3rem;
  font-weight: bold;
}
.portfolio-header p {
  color: #777;
}
.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item .img-contain {
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s linear;
}

.portfolio .portfolio-item:hover img {
  transform: scale(1.1);
}
.portfolio-item .details {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}
.portfolio-item .details h5 {
  margin: 0 0 10px;
}
.portfolio-item .details a {
  color: #007bff;
  text-decoration: none;
}
.portfolio-item .details a:hover {
  text-decoration: underline;
}
.portfolio-item .details .date {
  color: #777;
}

.portfolio .txt-icon svg {
  color: var(--blue-color);
  font-size: 2.5rem;
}

/* 
=================================================
                End Portfolio
=================================================
*/

/* 
=================================================
                Start Slider
=================================================
*/

.slider {
  background-image: url(../images/overlay-bg.jpg);
  background-color: var(--blue-color);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 5%;
}

.slider .carousel-item {
  position: static;
  padding: 10% 0;
}

.slider .img-contain {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.slider h5 {
  font-size: 22.4px;
  line-height: 33.6px;
  font-weight: 600;
}

.slide p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.slider button[type="button"] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

/* 
=================================================
                End Slider
=================================================
*/
/* 
=================================================
                Start Blog
=================================================
*/

.blog-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.blog-card img {
  width: 100%;
  height: auto;
}

.blog-card .category {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

.blog-card .content {
  padding: 15px;
}

.blog-card .author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.blog-card .author img {
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* 
=================================================
                End Blog
=================================================
*/
/* 
=================================================
                Start Footer
=================================================
*/

  

/* 
=================================================
                End Footer
=================================================
*/
